.column {
    padding-left: 0px;
    padding-right: 0px;
}
.item {
    position: relative;
    padding: 15px;
    background-color: #cde;
    margin: 2px 1px 0 1px;
}
.item h3 {
    color: #fff;
    font-weight: 200;
}
.item .columnbox .item {
    background-color: #ccc;
    padding: 0px !important;
    margin: 1px;
}
.item .columnbox .column {
    background-color: #fff;
    padding: 0px !important;
    
}
#intro {
    padding-top: 60px;
    padding-bottom: 60px;
}